# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# VS Code
.vscode/

# Model files
*.pth
!model/
!model/**

# Data files
*.csv
*.tsv
*.xls
*.xlsx
*.h5
*.db
*.sqlite
*.sqlite3

# Images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
!images/
!images/**

# System files
.DS_Store
Thumbs.db

# Others
*.log
*.tmp

# Entorno y variables sensibles
.env

# Ignore data and images folders (remove if you want to include them)

